@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  width: 100px;
  height: 35px;
  border: 1px solid #9e9e9e;
  border-radius: 6px;
  padding: 6px;
}

#content {
  position: relative;
}

.ocatocat {
  position: absolute;
  top: 0;
  right: 0;
}
